.h1{
    background-color: blue;
    text-align: center;
} 
p{
    color: red;
    font-size: 20px;
}
ul{
    color: green;
    font-size: 18px;
}   
.ds{
    list-style-type: square;    
    color: purple;
}
h1{
    color: orange;
    font-size: 30px;
}