.h1{
    background-color: blue;
    text-align: center;
} 
p{
    color: red;
    font-size: 20px;
}
ul{
    color: green;
    font-size: 18px;
}   
button{
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}